header{
    background-color: rgb(236, 188, 236, 0.7);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.item{
    width: 230px;
    height: 100px;
    font-family: 'Edu SA Beginner', cursive;
}
.item:nth-child(2n+1){
    background-color: rgb(184, 163, 243);
}

button{
    background-color: rgb(188, 147, 224);
    font-size: 20px;
}

h1{
    background-color: rgb(175, 207, 246, 0.7);
    color: rgb(244, 34, 244);
    font-family: cursive;
    font-size: 30px;
}
h1:hover{
    color: salmon
}
h1::before{
    content: "✨";
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
    text-align: justify;
    padding: 50px;
}

.container .habitat{
    background-color: rgba(170, 246, 215, 0.834);
    font-size: 22px;
    width: 750px;
    height: 315px;
    align-items: center;
}

.container .habitat:nth-child(4){
    background-color: rgba(208, 170, 245, 0.89);
    font-size: 22px;
    width: 750px;
    height: 315px;
    align-items: center;
}

.img{
    width: 550px;
    height: 315px;
    border-radius: 100px;
}
.img2{
    width: 700px;
    height: 450px;
    border-radius: 800px;
}

footer p{
    background-color: rgb(236, 188, 236, 0.7);;
    font-size: medium;
    color: #020202;
    text-align: center;
}